body {
    margin: 0;
    padding: 0;
}

main {

    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px;
    padding: 16px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

a {
    text-decoration: none;
    color: #286622;
}

h1 {
    color: #388C2E;
}

footer {
    background-color: #F53636;
    color: #F2DC30;
    font-size: 120%;
}


nav {
    background-color: #F2DC30;
}

.ingredients tr:nth-child(even) {
    background-color: lightgray;

}
